.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  justify-content: center;

}

body {
  background-color: rgb(33, 33, 87);
 
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

button {
  position: relative;
  width:44px;
  height:44px;
  bottom:85px;
  margin-top: 80px;
  margin-bottom:88px;
  border-radius: 22px;
  border: 2px solid red;
  
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  border-radius: 19px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

